.display {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  input {
    width: 100%;
    border: 1px solid #ddd;
    text-align: right;

    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: .25rem;
      padding: .5rem 1rem;
      font-size: .875rem;
    }

    &:last-child {
      padding: .5rem 1rem;
      font-size: 1.5rem;
    }
  }
}