.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.text-end {
  text-align: right;
}

.mb-05 {
  margin-bottom: .5rem;
}